@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
  margin: 0;
  padding: 0;
}

body{
  display: none;
}

@media screen and (max-width: 768px) {
  body{
    background-color: rgb(219, 255, 173);
    display: block;
  }
  
  #gridMain{
    background-image: -webkit-linear-gradient(rgb(153, 255, 246), rgb(219, 255, 173));
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;
  }
  
  #Sources{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    display: grid;
    text-align: center;
    background-image: -webkit-linear-gradient(rgb(237, 221, 255), rgb(206, 210, 255));
    border-radius: 60px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.253);
    border: 2px solid black;
  }
  
  #Sources>div{
    padding: 28px 25px 28px 25px;
  }
  
  #Cydia{
    border-bottom: 2px solid black;
  }
  
  #Sileo{
    border-bottom: 2px solid black;
  }
  
  #Installer{
    border-bottom: 2px solid black;
  }
  
  a{
    color: black;
    text-decoration: none;
    padding: 40px 0px 40px 0px;
  }
  
  #jpic{
    width: 50vw;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
